@charset "utf-8";

html{
  font-size: 100%;
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:#555;
  line-height: 1.5;
}

img{
  width: 100%;
}

.mainwrapper{
  max-width: 940px;
  margin: 0 auto;
  padding:0 10px;
}

.headwrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
  display: flex;
}

header{
  border-top: 8px solid #ff9900;
}

.header_logo{
  width: 90px;
}

header nav ul{
  display: flex;
}

header nav ul li{
  margin-left: 20px;
}

header nav ul li a{
  text-decoration: none;
  color: #555;
}

header nav ul li a:link{
  color: #ff9900;
}

header nav ul li a:visited{
  color: #555;
}

header nav ul li a:hover{
  color:brown;
}

header nav ul li a:active{
  color: blanchedalmond;
}

#main-img{
  width:100%;
  height: 50vh;
  background-image: url("../imgs/cafe3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainwrapper{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#main-content{
  width: 60%;
}

#sidebar{
  width: 35%;
}

#home h2{
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ff9900;
  font-size: 1.2rem;
}

#info dl{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#info dt{
  width: 7em;
}

#info dd{
  width: calc(100% - 7em);
}

#info dt,info dd{
  margin-bottom: 10px;
}

#campaign ul li{
  margin-bottom: 10px;
  list-style-type: none;
}

#sidebar ul li{
  margin-top: 40px;
  margin-bottom: 60px;
  list-style-type: none;
}

footer{
  margin-top: 30px;
  padding:10px;
  text-align: center;
  color: antiquewhite;
  background-color: #ff9900;
}

footer ul li{
  display: inline-block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  padding:5px;
}

footer ul li a{
  color: antiquewhite;
}

footer ul li a:link{
  text-decoration: none;
}

small{
  font-size: 0.7rem;
}

footer ul li a:hover,
footer ul li a:active{
  opacity:0.7;
}

@media(max-width: 600px){
  html{
    font-size: 87.5%;
  }
  .header_logo{
    width: 60px;
  }

  .mainwrapper{
    flex-direction: column;
    margin-top: 10px;
  }

  #main-content, #sidebar{
    width: 100%;
  }

}


